<div class="container">
    <h2>Your id</h2>
    <p>roomId = {{roomId}} </p>
    <button class="btn btn-danger" (click)="deleteRoom()">Delete</button>


    <button class="btn btn-success" (click)="call()" [disabled]="isDoNotDisturb">Call</button>
    <button class="btn btn-primary" (click)="setIsDoNotDisturb()">Switch do not disturb</button>

    <br><br>
    <hr>
    <br>

    <h2>Edit your name</h2>
    <span *ngIf="guest"> Guest : {{guest}} </span>
    <input type="text" [(ngModel)]="guest" placeholder="Enter your name">
</div>


<!-- <app-fridge [isAvailable]="available"></app-fridge> -->